{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h3>Форма сброса пароля</h3>
    <hr>
    <div class="row">
        <div class="col-xs-12">

            <form method="POST">{% csrf_token %}
                <p>
                    Введите <b>e-mail</b>, на который был зарегистрирован ваш аккаунт:
                </p>
                {{ form.email|add_class:'form-control' }}
                <div style="margin-top: 13px">
                    <button class="btn btn-danger" type="submit">Сбросить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}