{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h3>Форма смены пароля</h3>
    <hr>
    <div class="row">
    <div class="col-xs-12">


    {% if user.is_anonymous %}
        Вы не авторизованы. <a href="/authentication/login/">Авторизуйтесь</a>
    {% else %}
        <form method="POST">{% csrf_token %}
            <span style="color: red">{{ form.non_field_errors }}</span>
            <p><b>Старый пароль:</b></p>
            <span style="color: red">{{ form.old_password.errors }}</span>
            {{ form.old_password|add_class:'form-control' }}
            <p><b>Новый пароль:</b></p>
            <span style="color: red">{{ form.new_password1.errors }}</span>
            {{ form.new_password1|add_class:'form-control' }}
            <p><b>Подтверждение пароля:</b></p>
            <span style="color: red">{{ form.new_password2.errors }}</span>
            {{ form.new_password2|add_class:'form-control' }}

            <div style="margin-top: 20px">
                <button class="btn btn-warning" type="submit">Изменить пароль</button>
            </div>

        </form>
    {% endif %}
    </div>
    </div>
{% endblock %}