{% extends 'detail/base.html' %}
{% block list %}
    <div class="row">
        <div class="col-xs-12">
            <p>Фамилия и имя заказчика:</p>
            <h4><b>{{ object.last_name }} {{ object.first_name }}</b></h4>
            <p>Телефонный номер:</p>
            <h4><b>{{ object.phone }}</b></h4>
            <p>Продукты:</p>
            <h4>{% for product in object.products.all %}
                <b>{{ product.product }}</b> X <b>{{ product.count }}</b> ед. <br>
            {% endfor %}
            </h4>
            <p>Тип оплаты:</p>
            <h4><b>{{ object.get_payment_display }}</b></h4>
            <p>Тип доставки:</p>
            <h4><b>{{ object.get_logistic_display }}</b></h4>
            <p>Адрес доставки:</p>
            <h4><b>{{ object.city }}, {{ object.street }}, {{ object.house }}, {{ object.building }}, кв. {{ object.flat }}</b></h4>
            <p>Итоговая стоимость:</p>
            <h4><b>{{ object.amount_price }}</b> руб.</h4>
            <p>Время и дата заказа:</p>
            <h4><b>{{ object.date }}</b></h4>
            {% if object.comment %}
                <p>Комментарий заказчика</p>
                <h4><b>{{ object.comment }}</b></h4>
            {% endif %}
        </div>
    </div>
{% endblock %}