{% extends 'detail/base.html' %}
{% block list %}
    <div class="row">
        <div class="col-xs-12">
            <p>Название продукта</p>
            <h4><b>{{ object.name }}</b></h4>
            <p>Категории:</p>
            <h4><b>{% for category in object.category.all %}
                    {{ category }}<br>
                    {% endfor %}
            </b></h4>
            <p>Цена:</p>
            <h4><b>{{ object.price }}</b></h4>
            <p>Цена со скидкой:</p>
            <h4><b>{{ object.new_price }}</b></h4>
            <p>Вес продукта:</p>
            <h4><b>{{ object.weight }}</b> г.</h4>
            <p>Продано:</p>
            <h4><b>{{ object.sold }}</b> шт.</h4>
            <p>Количество в наличии:</p>
            <h4><b>{{ object.number }}</b> шт.</h4>
            <p>Фотографии продукта (уменьшенные копии):</p>
            {% for photo in product.imageproduct_set.all %}
                <img style="border: 1px solid #9b9b9b" src="{{ url }}/media/{{ photo.image_resize }}" alt="">
            {% endfor %}
            <br> <br>
            <p>Характеристики:</p>
            <h4>
                {% for name, value in object.settings.all %}
                    [{{ name }}] -- <b>{{ value }}</b>
                <br>
                {% endfor %}
            </h4>
            <p>Описание:</p>
            <h4><b>{{ object.description|safe }}</b></h4>
            <p>Дата добавления:</p>
            <h4><b>{{ object.date }}</b></h4>
        </div>
    </div>
{% endblock %}