<ul id="menu" class="nav" style = "background: white;">
  <li class="change-color">
      <a href="{{ url }}/personal_room/">
          <i class="fa fa-list" aria-hidden="true"></i> Ваши заказы
      </a>
  </li>
  <li class="change-color">
      <a href="{{ url }}/personal_room/profile/">
      <i class="fa fa-cog" aria-hidden="true"></i> Настройки аккаунта
      </a>
  </li>
  <li class="change-color">
      <a href="{{ url }}/personal_room/favorites/">
          <i class="fa fa-heart-o" aria-hidden="true"></i> Избранные товары
      </a>
  </li>
</ul>