{% extends 'table/base.html' %}
{% block table %}
    <table style="width: 800px" class="table table-hover">
        <thead>
        <tr>
            <th>Пользователь</th>
            <th>Продукт</th>
            <th>Количество</th>
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            {% if object.user.username %}
                <tr class="table-item">
                    <td>{{ object.user.username }}</td>
                    <td>{{ object.product }}</td>
                    <td>{{ object.count }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}