{% extends 'admin_list.html' %}
{% block table %}
    <table style="width: 800px" class="table table-hover">
        <thead>
        <tr>
            <th>Пользователь/Сессия</th>
            <th>Продукт</th>
            <th>Количество</th>
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr class="table-item">
                {% if object.user.username %}
                    <td>{{ object.user.username }}</td>
                {% else %}
                    <td>{{ object.session_id }}</td>
                {% endif %}
                <td>{{ object.product }}</td>
                <td>{{ object.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}