{% extends 'admin_panel.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <ul id="menu" class="nav nav-cat" style = "background: white;">
                    <li class="change-color">
                        <a href="{{ category.get_absolute_url }}">
                            123
                        </a>
                    </li>
                    <li class="change-color">
                        <a href="{{ category.get_absolute_url }}">
                            123
                        </a>
                    </li>
                    <li class="change-color">
                        <a href="{{ category.get_absolute_url }}">
                            123
                        </a>
                    </li>
                    <li class="change-color">
                        <a href="{{ category.get_absolute_url }}">
                            123
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-9">
                {% block right %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}