{% extends 'admin_list.html' %}
{% block table %}
    <table style="width: 800px" class="table table-hover">
        <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>E-mail</th>
            <th>Статус</th>
            <th>Дополнительная информация</th>
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr class="table-item">
                <td>{{ object.username }}</td>
                <td>{{ object.email }}</td>
                <td>{% if object.is_active %}
                    <span style="color: green">Активирован</span>
                {% else %}
                    <span style="color: red">Не активирован</span>
                {% endif %}
                </td>
                {% if object.additionaluser %}
                    <td>{{ object.additionaluser.last_name }} {{ object.additionaluser.first_name }}<br>
                        {{ object.additionaluser.phone }}<br>
                        {{ object.additionaluser.city }}
                    </td>
                {% else %}
                    <td>Не указана</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}