<div class="col-md-12" style="padding: 0">
    <div class="banner">
        <div class="slider">
            <div class="element-slider first">
                <div class="text-slider">
                    Ваш рекламный баннер
                </div>
            </div>
            <div class="element-slider second">
                <div class="text-slider" style="color: yellow">
                    Ваш рекламный баннер
                </div>
            </div>
            <div class="element-slider third">
                <div class="text-slider" style="color: white">
                    Ваш рекламный баннер
                </div>
            </div>
        </div>

        <div id="button-slider-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
        <div id="button-slider-right">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div id="progressbar-slide"></div>
    </div>
</div>