<div class="col-md-12" style="padding: 0 0 0 3px">
    <div class="banner">
        <div class="slider">
            {% for slide in slides %}
                <div class="element-slider">
                    <img src="{{ url }}/media/{{ slide }}" alt="">
                </div>
            {% endfor %}
        </div>
        <div id="button-slider-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
        <div id="button-slider-right">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div id="progressbar-slide"></div>
    </div>
</div>